@model List<Private_University.Models.FeeExcelValidationResult>

@{
    ViewBag.Title = "InvalidRecord";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Invalid Records</h2>

@if (Model != null && Model.Any())
{
    <div class="alert alert-danger mt-3">
        <strong>Oops!</strong> Some records are invalid.
    </div>

    <table class="table table-bordered table-striped mt-2">
        <thead>
            <tr>
                <th>Row #</th>
                <th>Enrollment No</th>
                <th>Date</th>
                <th>Issues</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.RowNumber</td>
                    <td>@item.EnrollmentNo</td>
                    <td>@item.DateValue</td>
                    <td>@item.Issues</td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <div class="alert alert-success mt-3">
        No invalid records found.
    </div>
}

<h3 class="text-danger">Note: Please correct above records & submit.</h3>
