
@{
    ViewBag.Title = "UniversityPenalFeesCollecton";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="sb2-2-2">
    <ul>
        <li>
            <a href="#"><i class="fa fa-home" aria-hidden="true"></i> Home</a>
        </li>
        <li class="active-bre">
            <a href="#"> University Details</a>
        </li>
        <li class="page-back">
            <a href="#"><i class="fa fa-backward" aria-hidden="true"></i> Back</a>
        </li>
    </ul>
</div>
<div class="sb2-2-3">
    <div class="row">
        <div class="col-md-12">
            <div class="box-inn-sp admin-form">
                <div class="inn-title">
                    <h4>University Penal Interest Fees Collecton</h4>
                </div>
                <div class="tab-inn" style="margin-bottom:20px;">
                    <h4>
                        <u>ANNEXURE-F</u>
                    </h4>
                    <h5 class="text-center"><u>CHHATTISGARH PRIVATE UNIVERSITIES REGULATORY COMMISSION, RAIPUR</u></h5>
                    <h5><u>STATEMENT OF PENAL INTEREST CREDITED TO THE CONSOLIDATED FUND OF THE STATE OF CHHATTISGARH</u></h5>
                    <table class="table table-bordered">
                        <tbody>
                            <tr>
                                <td colspan="1">Phone No.</td>
                                <td colspan="3"></td>
                            </tr>
                            <tr>
                                <td colspan="1">Fax No.</td>
                                <td colspan="3"></td>
                            </tr>
                            <tr>
                                <td colspan="1">E-mail</td>
                                <td colspan="3"></td>
                            </tr>
                            <tr>
                                <td>No.</td>
                                <td></td>
                                <td>Date.</td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                    <h5><span>Sub:- </span>Statement of penal Interest credited to the Consolidated Fund of the State of Chhattisgarh</h5>
                    <h5><u><span>Ref:- </span>See Section 12 of the Chhattisgarh Private Universities (Establishment and Operation) Act, 2005 (No. 13 of 2005).</u></h5>

                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th class="text-center">S.No.</th>
                                <th class="text-center">Name of the University</th>
                                <th class="text-center">Resolution Number of the Regulatory Commission empowering to impose and collect the penal interest</th>
                                <th class="text-center">Amount</th>
                                <th class="text-center">Remark</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="text-center">(1)</td>
                                <td class="text-center">(2)</td>
                                <td class="text-center">(3)</td>
                                <td class="text-center">(4)</td>
                                <td class="text-center">(5)</td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                    </table>
                    <h5>Total of column 4: Rs. <span>___________________</span>(in figure) Rs. <span>___________________</span>(in words)</h5>
                    <h5>(1)  Name of Payee : Government of Chhattisgarh, Raipur, <span>___________________</span></h5>
                    <h5>(2)  Head under which the amount is to be credited in the Consolidated Fund of the State <span>___________________</span></h5>
                    <h5>(3)  Name of the Treasury in which amount is deposited: <span>___________________</span></h5>
                    <h5>(4)  No. of Account Payee Cheque</h5>
                    <h5>(5)  Date of issue of Cheque</h5>
                    <h5>(6)  Name of the bank on which the Cheque is drawn</h5>
                    <h5>(7)  Name and designation of the Officer of the Officer of the Regulatory Commission signing the Cheuqe</h5>
                    <br/>
                    <table>
                        <tbody>
                            <tr>
                                <td></td>
                                <td>(1) Sinature </td>
                                <td>(2) Sinature </td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>Designation </td>
                                <td>Designation </td>
                            </tr>
                            
                            <tr>
                                <td colspan="1"></td>
                                <td><b>Chhattisgarh Private Universites</b></td>
                            </tr>
                            <tr>
                                <td colspan="1"></td>
                                <td><b>Regulatory Commission, Raipur</b></td>
                            </tr>
                        </tbody>
                    </table>
                    <div>
                        <input type="submit" value="Submit" class="waves-light light-btn waves-input-wrapper waves-button-input" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
