<!--SECTION START-->
<style type="text/css">   
    .ARContainer > a {
        margin:4px 6px;
    }
</style>
<section class="pop-cour">
    <div class="container com-sp pad-bot-70">
        <div class="row">
            <div class="cor about-sp">
                <div class="ed-about-tit">
                    <div class="con-title">
                        <h2><span> @Html.Label("Annual Reports", new { @class = "con-title-h2-span" })</span></h2>
                        <p>@Html.Label(Private_University.Resources.Objective.CommName, new { @class = "con-title-p" }) </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="cor-p4">
                    @*<h3>@Html.Label(Private_University.Resources.Objective.Title, new { @class = "con-title-p", @style = "color: #203245;font-size: 24px;" }) </h3>*@
                    
                        <h4 style="text-align:center;">Annual Report & Accounting Audit <br/> Years</h4>
                        @*<ul class="list text-justify">
                            <li>
                            </li>                            
                        </ul>*@
                    <br/>
                    <p style="display: flex;justify-content: center;flex-wrap: wrap;" class="ARContainer">

                        <a href="~/Content/pdf/Annual_Reports/Annual Report & Accounting Audit Year - 2004-05.pdf"
                           class="btn btn-default btn-lg active" role="button" style="line-height:14px;">
                            2004-05
                        </a>
                        <a href="~/Content/pdf/Annual_Reports/Annual Report & Accounting Audit Year - 2005-06.pdf"
                           class="btn btn-default btn-lg active" role="button" style="line-height:14px;">
                            2005-06
                        </a>
                        <a href="~/Content/pdf/Annual_Reports/Annual Report & Accounting Audit Year - 2006-07.pdf"
                           class="btn btn-default btn-lg active" role="button" style="line-height:14px;">
                            2006-07
                        </a>
                        <a href="~/Content/pdf/Annual_Reports/Annual Report & Accounting Audit Year - 2007-08.pdf"
                           class="btn btn-default btn-lg active" role="button" style="line-height:14px;">
                            2007-08
                        </a>
                        <a href="~/Content/pdf/Annual_Reports/Annual Report & Accounting Audit Year - 2008-09.pdf"
                           class="btn btn-default btn-lg active" role="button" style="line-height:14px;">
                            2008-09
                        </a>
                        <a href="~/Content/pdf/Annual_Reports/Annual Report & Accounting Audit Year - 2009-10.pdf"
                           class="btn btn-default btn-lg active" role="button" style="line-height:14px;">
                            2009-10
                        </a>
                        <a href="~/Content/pdf/Annual_Reports/Annual Report & Accounting Audit Year - 2010-11.pdf"
                           class="btn btn-default btn-lg active" role="button" style="line-height:14px;">
                            2010-11
                        </a>
                        <a href="~/Content/pdf/Annual_Reports/Annual Report & Accounting Audit Year - 2011-12.pdf"
                           class="btn btn-default btn-lg active" role="button" style="line-height:14px;">
                            2011-12
                        </a>
                        <a href="~/Content/pdf/Annual_Reports/Annual Report & Accounting Audit Year - 2012-13.pdf"
                           class="btn btn-default btn-lg active" role="button" style="line-height:14px;">
                            2012-13
                        </a>
                        <a href="~/Content/pdf/Annual_Reports/Annual Report & Accounting Audit Year - 2013-14.pdf"
                           class="btn btn-default btn-lg active" role="button" style="line-height:14px;">
                            2013-14
                        </a>
                        <a href="~/Content/pdf/Annual_Reports/Annual Report & Accounting Audit Year - 2014-15.pdf"
                           class="btn btn-default btn-lg active" role="button" style="line-height:14px;">
                            2014-15
                        </a>
                        <a href="~/Content/pdf/Annual_Reports/Annual Report & Accounting Audit Year - 2015-16.pdf"
                           class="btn btn-default btn-lg active" role="button" style="line-height:14px;">
                            2015-16
                        </a>
                        <a href="~/Content/pdf/Annual_Reports/Annual Report & Accounting Audit Year - 2016-17.pdf"
                           class="btn btn-default btn-lg active" role="button" style="line-height:14px;">
                            2016-17
                        </a>
                        <a href="~/Content/pdf/Annual_Reports/Annual Report & Accounting Audit Year - 2017-18.pdf"
                           class="btn btn-default btn-lg active" role="button" style="line-height:14px;">
                            2017-18
                        </a>
                        <a href="~/Content/pdf/Annual_Reports/Annual Report & Accounting Audit Year - 2018-19.pdf"
                           class="btn btn-default btn-lg active" role="button" style="line-height:14px;">
                            2018-19
                        </a>
                        <a href="~/Content/pdf/Annual_Reports/Annual Report & Accounting Audit Year - 2019-20.pdf"
                           class="btn btn-default btn-lg active" role="button" style="line-height:14px;">
                            2019-20
                        </a>
                        <a href="~/Content/pdf/Annual_Reports/Annual Report & Accounting Audit Year - 2020-21.pdf"
                           class="btn btn-default btn-lg active" role="button" style="line-height:14px;">
                            2020-21
                        </a>
                        <a href="~/Content/pdf/Annual_Reports/Annual Report & Accounting Audit Year - 2021-22.pdf"
                           class="btn btn-default btn-lg active" role="button" style="line-height:14px;">
                            2021-22
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
