
@{
    ViewBag.Title = "RTI";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!--SECTION START-->
<section class="pop-cour">
    <div class="container com-sp pad-bot-70">
        <div class="row">
            <div class="cor about-sp">
                <div class="ed-about-tit">
                    <div class="con-title">
                        <h2>@Private_University.Resources.Rti.Title</h2>
                        <p>@Private_University.Resources.Rti.CommName</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="cor-p4">
                    @*<h3>Course Details:</h3>*@
                    <p>
                        1. @Private_University.Resources.Rti.Act
                    </p>
                    <p>2. @Private_University.Resources.Rti.CasesReport </p>
                </div>
            </div>
        </div>
    </div>
</section>


